# Evaluating FlexeLint MISRA rules with linux 4.4.50-min

## Setting up the notebook

In [1]:
# Import all needed libraries
import json
import calendar
import random
import os
import sys
from datetime import date, timedelta

# import faker
import numpy as np
import pandas as pd
from pandas import DataFrame, read_csv
# from delorean import parse
import matplotlib

# Enable inline plotting
# %matplotlib inline

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.6.3 (v3.6.3:2c5fed8, Oct  3 2017, 18:11:49) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.21.1
Matplotlib version 2.1.1

## Preparing the data

In [3]:
report_flexelint_linux4_4_50_min = {
    'info': {
        'source_repo': 'linux-4.4.50-min'
    },
    'data': [
        {'id':  '3.1', 'count':   198},
        {'id':  '3.2', 'count':     0},
        {'id':  '5.2', 'count': 24154},
        # TODO
        {'id': '21.1', 'count':  7828},
        {'id': '21.3', 'count':    19},   
    ]
}

# stats_flexelint_linux4_4_50_min = report_flexelint_linux4_4_50_min['data']
df_flexelint_linux4_4_50_min = DataFrame(report_flexelint_linux4_4_50_min['data'])

# Rearrange columns
cols = ['id', 'count']
df_flexelint_linux4_4_50_min[cols].head()

     id  count
0   3.1    198
1   3.2      0
2   5.2  24154
3  21.1   7828
4  21.3     19

In [4]:
sum_count = df_flexelint_linux4_4_50_min[['count']].sum(0)['count']

#print("total=", sum_count)
sum_count

32199

In [5]:
df2_flexelint_linux4_4_50_min = df_flexelint_linux4_4_50_min
df2_flexelint_linux4_4_50_min['perc'] = df_flexelint_linux4_4_50_min['count'] * (100.0 / sum_count)

df2_flexelint_linux4_4_50_min

   count    id       perc
0    198   3.1   0.614926
1      0   3.2   0.000000
2  24154   5.2  75.014752
3   7828  21.1  24.311314
4     19  21.3   0.059008